header{
    height: 100px;
    background-color: #086ac3;
}
.apresentacao{
    width: 40%;
    float: left;
}
.logo{
    width: 30%;
    height: 100px;
    float: left;
}
/* <a target="_blank" href="https://icons8.com/icon/118466/facebook-novo">
Facebook Novo</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> */
.logo .img-logo{
    width: 100%;
    height: 100px;
}
.titulo{
    display: block;
    position: relative;
    left: 3%;
    top: 10px;
    width: 70%;
    height: 100px;
    float: right;
}
.prefeitura{
    display: block;
    position: relative;
    left: 18%;
    top: -30px;
}
/* bloco do menu do site */
.menu{
    width: 60%;
    height: 100px;
    float: right;
}
.menu nav{
    display: block;
    position: relative;
    left: 40%;
    top: 2%;
}
.menu nav ul li{
    display: inline;
    text-decoration: none;
    padding: 10px;
}