.paginas{
    width: 100%;
    padding: 20px 20px 20px 60px;
    background-color: darkmagenta;
}
.esquerda1{
    display: block;
    position: relative;
    float: left;
    background-color: greenyellow;
}
.lugar1{
    display: block;
    position: relative;
    float: left;
    width: 300px;
    height: 400px;
    background-color: brown;
    padding: 30px;
    margin-right: 150px;
}
.lugar2{
    display: block;
    position: relative;
    float: right;
    width: 300px;
    height: 400px;
    background-color: rgb(252, 5, 5);
    padding: 30px;
}
.lugar3{
    display: block;
    position: relative;
    float: right;
    width: 300px;
    height: 400px;
    background-color: rgb(21, 221, 98);
    padding: 30px;
    margin-right: 120px;
}
.esquerda2{
    display: block;
    position: relative;
    float: left;
    background-color: greenyellow;
}
.lugar4{
    display: block;
    position: relative;
    float: left;
    width: 300px;
    height: 400px;
    background-color: rgb(245, 131, 131);
    padding: 30px;
    margin-right: 150px;
}
.lugar5{
    display: block;
    position: relative;
    float: right;
    width: 300px;
    height: 400px;
    background-color: rgb(219, 155, 72);
    padding: 30px;
}
.lugar6{
    display: block;
    position: relative;
    float: right;
    width: 300px;
    height: 400px;
    background-color: rgb(100, 72, 199);
    padding: 30px;
    margin-right: 120px;
}
.esquerda3{
    display: block;
    position: relative;
    float: left;
    background-color: rgb(223, 75, 186);
}
.lugar7{
    display: block;
    position: relative;
    float: left;
    width: 300px;
    height: 400px;
    background-color: rgb(75, 218, 236);
    padding: 30px;
    margin-right: 150px;
}
.lugar8{
    display: block;
    position: relative;
    float: right;
    width: 300px;
    height: 400px;
    background-color: rgb(205, 206, 134);
    padding: 30px;
}
.lugar9{
    display: block;
    position: relative;
    float: right;
    width: 300px;
    height: 400px;
    background-color: rgb(189, 233, 31);
    padding: 30px;
    margin-right: 120px;
}
.esquerda4{
    display: block;
    position: relative;
    float: left;
    background-color: greenyellow;
}
.lugar10{
    display: block;
    position: relative;
    float: left;
    width: 300px;
    height: 400px;
    background-color: rgb(245, 131, 131);
    padding: 30px;
    margin-right: 150px;
}
.lugar11{
    display: block;
    position: relative;
    float: right;
    width: 300px;
    height: 400px;
    background-color: rgb(219, 155, 72);
    padding: 30px;
}
.lugar12{
    display: block;
    position: relative;
    float: right;
    width: 300px;
    height: 400px;
    background-color: rgb(100, 72, 199);
    padding: 30px;
    margin-right: 120px;
}